header {
    background-color: #282c34; /* Dark background color */
    padding: 10px 20px; /* Some padding around the items */
    color: white; /* White text color */
    display: flex; /* Flexbox to align items */
    justify-content: space-between; /* Space between the logo, search, and nav */
    align-items: center; /* Center items vertically */
}
  
header a {
    color: white;
    text-decoration: none;
    margin: 0; 
    font-size: 1.5rem; 
}

.search-class{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.search-class input{
    padding: 8px; 
    border: none; 
    border-radius: 10px; 
    min-width: 100px; 
}

.search-class button{
    right: 0;
    padding: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #5c67f2;
    cursor: pointer;
    position: absolute;
}
  
header nav a {
    color: white; 
    text-decoration: none; 
    padding: 0px 10px; 
    margin-left: 5px; 
}

header nav button {
    color: white; 
    text-decoration: none; 
    background-color: #282c34;
    border: none;
    cursor: pointer;
    padding: 0px 10px; 
    margin-left: 5px; 
}
  
header nav a:hover {
    text-decoration: underline; 
}

header nav button:hover {
    text-decoration: underline; 
}

@media (max-width: 600px) {
    header a {
        color: white;
        text-decoration: none;
        margin: 0; 
        font-size: 1rem; 
    }

    header nav a {
      padding: 0px 10px; 
      font-size: 12px;
      margin-left: 0;
    }

    header nav button {
        padding: 0px 10px; 
        font-size: 12px;
        margin-left: 0;
    }
}